<h3>Socket cliente</h3>
<form id="formulario">
    Nombre: <input type="text" name="nombre" id="nombre">
    Mensaje: <input type="text" name="mensaje" id="mensaje">
    <input type="submit" value="ENVIAR">
</form>
<p id="parrafoMensajes"></p>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>